<%- include("partials/header") %>

<div class="container py-5">

<div class="row align-items-center">

<!-- IMAGE -->

<div class="col-md-5 text-center">

<img src="/images/mohit.png" class="about-img img-fluid">

</div>

<!-- ABOUT TEXT -->

<div class="col-md-7">

<h1>About Me</h1>

<p class="mt-3">

Hi, I'm <b>Mohit Kaushik</b>.

I completed <b>BSc Computer Science from University of Delhi</b> and <b>MCA from NIT</b>.

I work with clients in India and the UK building web applications,
debugging systems and creating automation solutions.

My focus areas include web development, backend debugging,
and automation tools that improve productivity and workflow efficiency.

</p>

</div>

</div>



<!-- SKILLS -->

<h4 class="mt-5 mb-4">Skills</h4>

<div class="row">

<div class="col-md-4 mb-4">
<h6><b>Frontend Development</b></h6>
<ul>
<li>HTML</li>
<li>CSS</li>
<li>Bootstrap</li>
<li>JavaScript</li>
<li>React (Basic)</li>
</ul>
</div>

<div class="col-md-4 mb-4">
<h6><b>Backend Development</b></h6>
<ul>
<li>Node.js</li>
<li>Express.js</li>
<li>Python</li>
<li>Flask</li>
<li>REST APIs</li>
</ul>
</div>

<div class="col-md-4 mb-4">
<h6><b>Database</b></h6>
<ul>
<li>MongoDB</li>
<li>SQL</li>
</ul>
</div>

<div class="col-md-4 mb-4">
<h6><b>Automation</b></h6>
<ul>
<li>Python Automation</li>
<li>Web Automation</li>
<li>Task Automation</li>
<li>Data Processing</li>
</ul>
</div>

<div class="col-md-4 mb-4">
<h6><b>Tools & Environment</b></h6>
<ul>
<li>Linux</li>
<li>Git</li>
<li>GitHub</li>
<li>Deployment & Hosting</li>
</ul>
</div>

</div>

</div>

<%- include("partials/footer") %>