<%- include("partials/header") %>

<div class="container py-5 text-center">

<h1>Contact</h1>

<p class="mt-3">
Feel free to reach out for projects or collaboration.
</p>

<div class="contact-links mt-4">

<p><b>Email:</b> mohitkaushiknit@gmail.com</p>

<p>
<a href="https://wa.me/+91 7015505745" class="btn btn-success m-2">
WhatsApp
</a>

<a href="https://www.upwork.com/freelancers/~011b8b35a7b209687b?mp_source=share" class="btn btn-primary m-2">
Upwork
</a>

<a href="https://www.fiverr.com/s/qD1oV22" class="btn btn-dark m-2">
Fiverr
</a>

</p>

</div>

</div>

<%- include("partials/footer") %>